
<% @articles.each do |article| %>
<a href="<%= article_path(article.slug)%>" class="side-project w-inline-block">
    <div class="side-project__info">
        <div class="side-project__date"><%= article.created_at %></div>
        <div class="side-project__status live">Live</div>
    </div>
    <h2 class="side-project__title"><%= article.title %></h2>
    <p class="side-project__description"><%= article.subtitle %></p>
    <div class="side-project__circle"></div>
</a> 
<% end %>