<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>xin chao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'show' %>
</head>

<body class="bg-pattern">
    <div class="main_content">
        <div class="social-links__wrapper">
            <a href="" class="social-link">Home</a>
        </div>
        <%= yield %>
    </div>
   
</body>
</html>